*{
    /* background-color: black; */
    color: white;
}
body{
    background-color: rgb(24, 24, 24);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
 ul{
    display: flex;
}
.nav ul li{
    flex-direction: row;
   text-decoration: none;
   font-family: 'Bricolage Grotesque', sans-serif;
   list-style: none;
   margin: 10px;
   padding: 10px;
}
.nav ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: rgb(177, 174, 174)
}
.nav a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(251, 115, 66);
}
nav::before{
    content: "";
    position: absolute;
    background: url('bg4.jpeg')no-repeat center center/cover;
    width: 100%;
    height: 700px;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;

}
.first h1{
    display: flex;
    letter-spacing: 2px;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;

}
.first h2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 69px;
    margin-top: 80px ;
    margin-bottom: 370px;
   
}
.h-primary{
    display: flex;
    font-family: 'Bricolage Grotesque', sans-serif;
     margin: 50px;
     margin-top: 125px;
     padding: 40px;
     font-size: 50px;
    justify-content: left;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: row;
}
.box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 400px;
    width: 400px
}
    .box img{
    display: block;
    float: left;
    /* margin: auto; */
    width: 300px;
    height: 400px;
}
.box p{
    color: rgb(177, 174, 174);
    font-family: 'Bricolage Grotesque', sans-serif;
}

h4{
    display: flex;
    margin: 20px;
    color: white;
    padding: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.second a{
    text-decoration: none;
}
.combo{
    display: flex;
    flex-direction: row;
}
.boxes{
    display: block;
    float: left;
    height: 400px;
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.boxes img{
    height: 400px;
    width: 400px;
}
.boxes2{
    display: block;
    float: right;
    height: 400px;
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.boxes2 img{
    height: 400px;
    width: 400px;
}
.boxes3{
    display: block;
    float: left;
    height: 400px;
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.boxes3 img{
    height: 400px;
    width: 400px;
}
.h-secondory{
    display: flex;
    margin: 40px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 30px;
    font-size: 60px;
    color:rgb(177, 174, 174);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gallery{
    display: flex;
}
.gallery img{
    width: 800px;
    height: 500px;
    margin: 15px;
    padding: 10px;
}
.fifth{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    
}
.fifth::before{
    content: "";
    position: absolute;
    background: url('about5.webp')no-repeat center center/cover;
    width: 100%;
    height: 550px;
    top: 560%;
    bottom: 0%;
    left: 0px;
    z-index: -1;
    opacity: 0.3;
}
.para{
    display: flex;
    position: absolute;
    width: 50%;
    font-family: 'Bricolage Grotesque', sans-serif;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 25px;
    color:rgb(177, 174, 174);
    margin: 40px;
}
.paras{
    display: flex;
    position: absolute;
    width: 50%;
    font-family: 'Bricolage Grotesque', sans-serif;
    right: 0;
    justify-content: right;
    align-items: center;
    text-align: left;
    font-size: 25px;
    color:rgb(177, 174, 174);
    margin: 40px;
    margin-right:210px ;
}

h5{
    display: block;
    font-size: 40px;
    margin: 30px;
    padding: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}
.about h6{
    display: block;
    font-size: 40px;
    margin: 30px;
    margin-left: 700px;
    padding: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.center{
    display: flex;
    top: 100%;
    font-size: 25px;
    color:rgb(177, 174, 174);
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    padding: 20px;
}